.add-category {
    font-size: 34px;
    text-align: center;

    input {
        width: 70%;
        height: 32px;
        text-align: center;
        border: 2px solid #434343;
        vertical-align: middle;
    }
    button {
        width: 28%;
        height: 40px;
        background: #434343;
        color: white;
        text-transform: uppercase;
        vertical-align: middle;
    }
}
