#add-site {
    margin-top: 20px;
    font-size: 34px;
    text-align: center;

    input {
        width: 50%;
        height: 32px;
    }
    select {
        width: 20%;
        height: 38px;
    }
    button {
        width: 28%;
        height: 40px;
    }
}
