.add-site {
    margin-top: 20px;
    font-size: 34px;
    text-align: center;

    input {
        width: 50%;
        height: 32px;
        text-align: center;
        border: 2px solid #434343;
        vertical-align: middle;
    }
    select {
        width: 20%;
        height: 38px;
        margin-left: 1px;
        text-align: center;
        border: 2px solid #434343;
        vertical-align: middle;
    }
    button {
        width: 28%;
        height: 40px;
        background: #434343;
        color: white;
        text-transform: uppercase;
        vertical-align: middle;

        &[disabled] {
            background: #999;
        }
    }
}
