#amazon-items-table {
    border-collapse: collapse;
    width: 100%;

    .amazon-item {
        font-size: 12px;
    
        td {
            padding: 0 5px;
        }

        .offer {
            .price {
                color: black;

                &.hot {
                    color: green;
                }
            }
            .condition {
                color: blueviolet;
            }
            .seller {
                color: black;
            }
        }
    
        .col-prices {
            color: black;
            border-bottom: 1px solid rgb(119, 0, 0);

            &.hot-price {
                background: rgb(255, 48, 48);
                color: white;

            }
        }
    
        .col-image img {
            height: 50px;
        }
    
        .col-title {
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .col-actions {
            button {
                border-radius: 3px;
                margin-left: 2px;
            }
            button:first-child {
                margin-left: 0;
            }
        }
    }
}

.add-site {
    margin-top: 20px;
    font-size: 34px;
    text-align: center;

    input {
        width: 50%;
        height: 32px;
        text-align: center;
        border: 2px solid #434343;
        vertical-align: middle;
    }
    select {
        width: 20%;
        height: 38px;
        margin-left: 1px;
        text-align: center;
        border: 2px solid #434343;
        vertical-align: middle;
    }
    button {
        width: 28%;
        height: 40px;
        background: #434343;
        color: white;
        text-transform: uppercase;
        vertical-align: middle;
    }
}

.add-category {
    font-size: 34px;
    text-align: center;

    input {
        width: 70%;
        height: 32px;
        text-align: center;
        border: 2px solid #434343;
        vertical-align: middle;
    }
    button {
        width: 28%;
        height: 40px;
        background: #434343;
        color: white;
        text-transform: uppercase;
        vertical-align: middle;
    }
}