#amazon-items-table {
    border-collapse: collapse;
    width: 100%;

    .amazon-item {
        font-size: 12px;
    
        td {
            padding: 0 5px;
        }
    
        .col-prices {
            color: black;
            border-bottom: 1px solid rgb(119, 0, 0);

            &.hot-price {
                background: rgb(255, 48, 48);
                color: white;

            }
        }
    
        .col-image img {
            height: 50px;
        }
    
        .col-title {
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.add-site {
    margin-top: 20px;
    font-size: 34px;

    input {
        width: 70%;
        height: 34px;
        text-align: center;
    }
    button {
        width: 29%;
        height: 40px;
    }
}