$primary-color: rgba(179, 182, 186, 1);
$secondary-color: rgba(255, 222, 63, 1);
$ternary-color: rgba(218, 204, 219, 1);

$primary-bg-color: rgba(46, 45, 45, 1);
$secondary-bg-color: rgba(1, 73, 162, 1);
